{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-5">
            <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Please sign in</h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}
                            <div class="form-floating mb-3">
                                <input class="form-control" id="username" type="text" value="{{ last_username }}" name="_username" autocomplete="username" placeholder="Enter your username or email" required autofocus>
                                <label for="username">Username or email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required placeholder="*********************************">
                                <label for="password">Password</label>
                            </div>

                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                            {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html
                            #}
                            <div class="">
                                <input type="checkbox" name="_remember_me" id="_remember_me">
                                <label for="_remember_me">Remember me</label>
                            </div>

                            <div class="d-grid my-3">
                                <button class="btn btn-lg btn-primary" type="submit">
                                    Sign in
                                </button>
                            </div>
                            <div class="d-grid">
                                <a class="btn btn-danger" href="{{ path('app_forgot_password_request') }}">
                                    Forgotten password ?
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
