<h3 id="title-model" class="position-absolute top-0 start-50 translate-middle-x">{{ figure.name }}</h3>
<div class="row mx-0">
    {% if pictures|length > 0 %}
        <div class="col-12 px-0 top-div-popup-picture">
            <img class="img-fluid mb-5 fixed-size px-0 w-100 top-picture-popup"
                 src="{{ asset('uploads/figures/' ~ pictures[0].name) }}"
                 alt="Picture of {{ figure.name }}">

        </div>
        <a class="btn btn-warning position-absolute w-25 edit-picture" href="#modal-picture-to-edit" id="{{ pictures[0].id }}">Edit this picture</a>
    {% endif %}
    <div class="col-2 d-flex position-absolute symbols">
        <a class="container px-0"
           href="{{ path('app_figure_edit', {'slug' : figure.slug}) }}">
            <img class="col-12" src="{{ asset('assets/img/pencilToEdit.svg') }}"
                 alt="a pencil to edit a figure">
        </a>
        <a class="container px-0"
           href="{{ path('app_figure_delete', {'slug' : figure.slug}) }}">
            <img class="col-12" src="{{ asset('assets/img/bin.svg') }}"
                 alt="a bin to delete a figure">
        </a>
    </div>
</div>
<div class="container-fluid">
    <div class="row flex-nowrap overflow-scroll">
        {% if pictures|length > 0 %}
            {% for picture in pictures %}
                <div class="col-3">
                    <img class="img-fluid rounded-3 mb-5 fixed-size w-100 h-75"
                         src="{{ asset('uploads/figures/' ~ picture.name) }}"
                         alt="Picture of {{ figure.name }}">
                    <a class="btn btn-warning edit-picture" href="#modal-picture-to-edit" id="{{ picture.id }}">Edit this picture</a>
                </div>
            {% endfor %}
        {% endif %}
        {% if videos|length > 0 %}
            {% for video in videos %}
                <div class="col-3">
                    <iframe
                            class="h-75 mb-5"
                            title="Vidéo de {{ figure.name }}"
                            src="{{ video.embedUrl }}"
                            frameborder="0"
                            allowfullscreen
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                    </iframe>
                    <a class="btn btn-warning edit-video" href="#modal-picture-to-edit" id="{{ video.id }}">Edit this video</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row w-100 d-flex justify-content-center my-5" style="max-height: 20dvh; overflow: scroll;">
    <p class="col-10">
        {{ figure.description }}
    </p>
</div>
<div class="row w-100 d-flex justify-content-center">
    <p class="col-3 border border-dark">
        Creation date : {{ figure.creationDate|date('Y-m-d') }}
    </p>
    <p class="col-3 border border-dark mx-3">
        Modification date: {{ figure.dateOfLastUpdate|date('Y-m-d') }}
    </p>
    {% for group in figure.groupes %}
    <div class="col-1 border border-dark mx-3 h-100">
        {{ group.name }}
    </div>
    {% endfor %}
</div>

<div class="row d-flex justify-content-center mt-5">
    <div class="border border-dark col-6"></div>
</div>

<div class="container mt-4 mb-5">
    {{ form_start(formMessage, { 'attr' : {'class' : 'row d-flex justify-content-center'}}) }}
        {{ form_widget(formMessage.content, {'attr' : {'class' : 'col-6 mx-3'}}) }}
    <button id="save-message" class="btn btn-primary col-2">{{ button_label|default('Leave a comment') }}</button>
    {{ form_end(formMessage) }}
</div>

<div class="row d-flex justify-content-center mb-5">
    <div class="border border-dark col-6"></div>
</div>

<a class="js-message-page d-none" href="{{ path('app_message_to_one_figure', {'figureSlug' : figure.slug}) }}"></a>

<div class="container js-figure-messages" id="messages">
    {% include 'figure/_messages.html.twig' with {'messages' : messages} only %}
</div>

<div id="pagination" class="js-message-pagination d-flex justify-content-center my-3">
    {% include 'figure/_pagination.html.twig' with {'page' : page, 'maxPage' : maxPage, 'figureSlug': figureSlug} only %}
</div>

