{% extends 'base.html.twig' %}

{% block title %}Change my password{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center">Change my password</h1>

    <div class="container">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                {{ form_start(form) }}
                <div class="form-floating mb-3">
                        {{ form_widget(form.password) }}
                        {{ form_label(form.password) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.newPassword.first, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.newPassword.first) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.newPassword.first) }}
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        {{ form_widget(form.newPassword.second, {'attr': {'class': 'form-control'}}) }}
                        {{ form_label(form.newPassword.second) }}
                        <div class="invalid-feedback">
                            {{ form_errors(form.newPassword.second) }}
                        </div>
                    </div>
                    <div class="invalid-feedback d-block">
                        {{ form_errors(form.newPassword) }}
                    </div>

                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}